.body-wrapper {
  font-family: Roboto, sans-serif
}

.categories {
  background-color: #f5f5f2;
  width: 245px;
  float: left;
  padding: 10px 5px;
}

.categories__items {
  padding: 10px;
}

.categories__items p {
  margin: 10px 0;
  width: 100%;
}

.select {
  width: 100%;
}

.title {
  color: black;
  font-weight: bold
}

.section {
  margin-left: 250px;
  padding-top: 66px;
}

.template__item {
  border: 2px solid #f0f0ed;
  border-radius: 2px;
  margin-bottom: 20px;
  max-width: 720px;
  padding: 20px;
}

.main {
  padding: 0 30px;
}

.body-wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 1px solid #d2d2cd;
  border-radius: 3px;
}

.container input:checked~.checkmark {
  background-color: white;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #42b0f0;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.template__link {
  color: #42b0f0;
  text-decoration: none;
  font-size: 20px;
}

.template__options {
  margin: 20px 0;
  font-size: 14px;
}

.options-gray {
  color: #cacac9;
}

.template__options a {
  text-decoration: none;
  color: #42b0f0;
}

.skills {
  margin-top: 30px;
  margin-bottom: 15px;
}

.skill__name {
  background-color: #f6f6f5;
  padding: 15px;
  border-radius: 5px;
}

.template__bottom {
  font-size: 14px;
  margin: 15px 15px;
}

.skills a {
  text-decoration: none;
  color: #42b0f0;
}

.label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
}

.label input:checked~.check {
  background-color: white;
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

.label input:checked~.check:after {
  display: block;
}

.label .check:after {
  top: 3px;
  left: 3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #42b0f0;
}

.new-color::after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid rgb(29, 168, 52);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.new-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border: 1px solid #d2d2cd;
  border-radius: 3px;
}

.container input:checked~.new-checkmark {
  background-color: white;
}

.new-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.new-checkmark:after {
  display: block;
}

@media (max-width: 780px) {
  .categories {
    display: none;
  }
  .section {
    margin: 0 auto;
  }
}
